.game-field, .input-numbers {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.number-field {
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size: 3em;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: solid black;
    box-sizing: border-box;
}

.field {
    width: 70px;
    height: 70px;
    background-color: blue;
    border: solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size: 3em;
}

.text-content {
    color: green;
}

.number-field.selected-number {
    background-color: cadetblue;
}