.game-field, .input-numbers {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
}

.game-field .field {
    width: 70px;
    height: 70px;
    background-color: blue;
    border: solid black;
    box-sizing: border-box;
}

.input-numbers .number-field {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: solid black;
    box-sizing: border-box;
}

.input-numbers .number-field.selected-number {
    background-color: cadetblue;
}