.game-field, .input-numbers {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.number-field {
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size: 3em;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: solid black;
    box-sizing: border-box;
}

.field {
    width: 70px;
    height: 70px;
    background-color: blue;
    border: solid rgba(0,0,0,0.4) 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size: 3em;
}

.text-content {
    /*color: green;*/
}

.number-field.selected-number {
    background-color: cadetblue;
}

.field.highlight {
    background-color: rgba(0, 0, 255, 0.67);
    padding: 5px;
}

.light-highlight{
    background-color: rgba(0, 120, 255, 0.99);
}

.field:nth-child(9n-3), .field:nth-child(9n-6){
    border-right: solid black 2px;
}
.field:nth-child(9n-2), .field:nth-child(9n-5){
    border-left: solid black 2px;
}
.field:nth-child(n+19):nth-child(-n+27),.field:nth-child(n+46):nth-child(-n+54){
    border-bottom:solid black 2px;
}

.field:nth-child(n+28):nth-child(-n+36),.field:nth-child(n+55):nth-child(-n+63){
    border-top:solid black 2px;
}
